@charset "UTF-8";

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.sr-only {
    position: absolute;
    width: 1px; height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

.field-error {
    margin-top: 0.25rem;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 600;
    color: brown;
}


