@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.registration-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 17rem;
    padding: 2.5rem;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.logo {
    padding: 0.75rem;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: orange;
}

.registration-feedback {
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    color: #888;
}

.registration-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
    gap: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.registration-form input {
    width: 11rem;
    height: 2rem;
    padding-left: 0.3rem;
}

.registration-form input::placeholder {
    font-size: 1rem;
    font-weight: 600;
    color: #888;
}

.registration-button {
    align-self: center;
    width: 7rem;
    padding: 0.75rem;
    border: 1px solid #207FEE;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #207FEE;
}
