@charset "UTF-8";

body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.auth-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 17rem;
    min-height: 24rem;
    padding: 2.5rem;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.logo {
    padding: 0.75rem;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: orange;
}

output {
    margin-top: 2rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1rem;
    gap: 2rem;
}

.auth-form input {
    width: 11rem;
    height: 2rem;
    border: 1px solid #dddcdc;
    border-radius: 5px;
    padding-left: 0.3rem;
}

.auth-form input::placeholder {
    font-size: 1rem;
    font-weight: 600;
    color: #888;
}

.auth-button {
    align-self: center;
    width: 9rem;
    margin-top: 2rem;
    border: 1px solid #207FEE;
    border-radius: 5px;
    padding: 0.75rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #207FEE;
}
