<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Page du profil de l'utilisateur" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Profil de l'utilisateur</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>

<body>
  <div th:replace="~{fragments/header :: header}"></div>
  
  <main class="profile-page">
    <div class="profile-items">
      <dl>
        <div class="username-item">
          <dt>Username</dt>  
          <dd>@<span th:text="${username}">username</span></dd>
        </div>
    
        <div class="email-item">
          <dt>Mail</dt>
          <dd th:text="${mail}">nom@domain.com</dd>
        </div>
    
        <div class="password-item">
          <dt>Mot de passe</dt>
          <dd>mot de passe</dd>
        </div>
      </dl>
    </div>

    <button class="modify-profile-button" type="button">Modifier</button>

  </main>
</body>
</html>
